{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}


{% block body %}
    <form method="POST" action="{{ url_for('register.register_menu') }}">
        <h2>Owner registration</h2>
        <div class="form-group">
            <label for="exampleInputText">Name</label>
            <input type="text" class="form-control" id="exampleInputText" name="name"
                   value="{{ request.form.get('name','') }}">
        </div>
        <div class="form-group">
            <label for="exampleInputText">Age</label>
            <input type="text" class="form-control" id="exampleInputText" name="age"
                   value="{{ request.form.get('age','') }}">
        </div>
        <div class="form-group">
            <label for="exampleInputText">City</label>
            <input type="text" class="form-control" id="exampleInputText" name="city"
                   value="{{ request.form.get('city','') }}">
        </div>
        <button type="submit" class="btn btn-primary">Add owner</button>
    </form>

{#    <form method="POST" action="{{ url_for('register.register_menu') }}">#}
{#        <h2>Pet registration</h2>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputText">Owner's index</label>#}
{#            <input type="number" class="form-control" id="exampleInputText" name="index"#}
{#                   value="{{ request.form.get('index','') }}">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputText">Pet name</label>#}
{#            <input type="text" class="form-control" id="exampleInputText" name="pet_name"#}
{#                   value="{{ request.form.get('pet_name','') }}">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputText">Pet age</label>#}
{#            <input type="text" class="form-control" id="exampleInputText" name="pet_age"#}
{#                   value="{{ request.form.get('pet_age','') }}">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputText">Type</label>#}
{#            <input type="text" class="form-control" id="exampleInputText" name="type"#}
{#                   value="{{ request.form.get('type','') }}">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary">Add pet3</button>#}
{#    </form>#}
{% endblock %}